.all{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    position: absolute;
}
@media (max-width:940px) {
    .back{
        width: 40%;
    }
    .content{
        margin-top: 0;
        width: 40%;
        padding-bottom: 2rem;
    }
    .content > h1{
        width: 100%;
    }
    .content > p{
        width: 90%;
    }
}
.content{
    position: absolute;
    max-width: 60%;
    top: 15%;
    left: 4%;
}
.content > h1{
    margin-bottom: 0.5rem;
    font-size: 3rem;
}
.content > p{
    max-width: 100%;
    margin-bottom: 0.5rem;
}
.buttons > button{
    cursor: pointer;
    color: #eee;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    padding-left: 2rem;
    margin-top: 0.75rem;
    margin-right: 1rem;
    background-color: #e50914;
}
.buttons > button:hover,
button:active{
    color: #111;
    background-color: #fff;
    transition: all 0.4s;
}
.buttons > button:nth-child(2):active{
    background-color: #fff;
    color: #111;
}
.back{
    position: fixed;
    top: 0;
    background: linear-gradient(90deg,rgb(0, 0, 0,1),rgb(0, 0, 0,0.9),rgb(0, 0, 0,0.8),rgb(0, 0, 0,0.5),rgb(0, 0, 0,0.4),transparent);
    height: 100vh;
    width: 45rem;
}
.backarrow{
    height: 3rem;
    width: 3rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}
.add{
    height: 2rem;
    width: 2rem;
    color: #fff;
    cursor: pointer;
}
.backarrow:hover{
    color: #e50914;
}
.add:hover{
   color: #e50914;
}
.add:active{
    color: chartreuse;
}